/* css style for cover page only */

body {
  background-color: #eee;
  background-image: url("turmeric.jpg");
  background-position: cover;
}

.footer {
  display: none;
}

.navbar-dark {
  background-color: #ffffff50;
}

.banner {
  position:absolute;
  top: 60%;
  width: 100%;
  text-align: right;
  font-size: 300%;
  font-weight: bold;
  line-height: 100%;
  color: #00000050;
  letter-spacing: 10px;
}


