/* css style for cover page only */

body {
  background-color: #eee;
  background-image: url("descent.jpg");
  background-position: cover;
}

.footer {
  display: none;
}

.navbar-nav .nav-link.active {
  color: #eee
}

.navbar-nav .nav-link {
  color: #eee;
}

.navbar-nav .nav-link.show {
  color: #eee;
}

.navbar-toggler {
  color: #eee;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(240, 240, 240, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
  background-color: #00000000;
}

.navbar-dark {
  background-color: #00000000;
}

.banner > h1 {
  top: 30%;
  width: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;
  color: #eee;
  letter-spacing: 2px;
}

.splashtext {
  color: #ffffff80;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 150%;
}

a {
  color: #ffffff80;
  text-decoration: none;
}

