<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "header.html" . }}

  <body>

    {{ partial "navbar.html" . }}

    {{ partial "carousel.html" . }}

    {{ .Content }}


<section class="gallery-area section-gap" id="trailers">
<div class="highlight">
<div class="gal">
{{ range .Sections }}
{{ range .Sections }}
{{ if isset .Params "trailer" }}

    <span style="position: relative;text-align: center;">
      <p style="color: black; font-size: 200%; position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);">{{ .Title | markdownify }}</p>
      <a href="{{ .URL }}"><img src={{ .Params.Trailer | relURL }}></a>
    </span>

{{ end }}
{{ end }}
{{ end }}
</div></div>
</section>


    {{ partial "footer.html" . }}

  </body>
</html>


